<a href="https://colab.research.google.com/github/MukeshSiddh/ML-AME/blob/main/Copy_of_Assignment_1B.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SF Salaries Pandas Exercise
We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along. One of the objectives of this assignment is to help you become accustomed to searching for relevant library functions online.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Import pandas as pd.**

In [ ]:
import pandas as pd

**Read Salaries.csv as a dataframe called sal.**

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/Salaries.csv")

**Check the head of the DataFrame.**

In [ ]:
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

**Use the .info() method to find out how many entries there are.**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [ ]:
df.index

RangeIndex(start=0, stop=148654, step=1)

**What is the average BasePay ?**

In [ ]:
df['BasePay'].mean()

66325.4488404877

In [ ]:
df['BasePay'].max()

319275.01

**What is the highest amount of OvertimePay in the dataset ?**

In [ ]:
df['OvertimePay'].max()

245131.88

In [ ]:
df.axes

[RangeIndex(start=0, stop=148654, step=1),
 Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
        'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
        'Status'],
       dtype='object')]

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [ ]:
df1=df.loc[df['EmployeeName']=='JOSEPH DRISCOLL']

In [ ]:
df1['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [ ]:
df1['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

**What is the name of highest paid person (including benefits)?**

In [ ]:
df2=df.loc[df['TotalPayBenefits']==df['TotalPayBenefits'].max()]

In [ ]:
df2

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [ ]:
df2['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
df3=df.loc[df['TotalPayBenefits']==df['TotalPayBenefits'].min()]

In [ ]:
df3

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [ ]:
df3['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

**How many unique job titles are there?**

In [ ]:
df['JobTitle'].nunique()

2159

**What are the top 5 most common jobs?**

In [ ]:
op=df.groupby(['JobTitle']).count()
op.sort_values('Id',ascending=False).head()

,Id,EmployeeName,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
JobTitle,,,,,,,,,,,,
Transit Operator,7036,7036,6975,7036,7036,7036,7036,7036,7036,0,7036,0
Special Nurse,4389,4389,4382,4389,4389,4389,4389,4389,4389,0,4389,0
Registered Nurse,3736,3736,3725,3736,3736,3736,3736,3736,3736,0,3736,0
Public Svc Aide-Public Works,2518,2518,2514,2518,2518,2518,2518,2518,2518,0,2518,0
Police Officer 3,2421,2421,2411,2421,2421,2421,2421,2421,2421,0,2421,0

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [ ]:
op=df.groupby(['JobTitle']).count()

In [ ]:
op1=op.loc[op['Id']==1]
op1['Id'].count()

239

**How many people have the word Chief in their job title? (This is pretty tricky)**

In [ ]:
df4=df[df['JobTitle'].str.contains(('Chief'))]

In [ ]:
df4['JobTitle'].count()

423

**Bonus: Is there a correlation between length of the Job Title string and Salary?**

*Search what correlation is and how you can calculate that using Pandas*

In [ ]:
df['string_length']=df['JobTitle'].str.len()

In [ ]:
df['string_length'].corr(df['TotalPay'])

-0.015356226699094547

Just one more assignment ðŸ™‚